body {
  background-color: rgb(185, 185, 185);
} 

/* ###Footer### */
html {
  position: relative;
  min-height: 100%;
}

body {
  /*Margin bottom by footer height*/
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 60px;
  background-color: darkgray;
}
.main {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

img {
  max-height: 600px;
  max-width: 100%;
  border: darkgrey;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 2px 2px rgb(146, 146, 146);
}

ul {
  position: absolute;
}

.linkedin {
  max-height: 20px;
  text-align: center;
}

.github {
  max-height: 25px;
  text-align: center;
}

@media screen and (max-width: 575px) {
 
.main {
  padding: 0;
  margin: 0;
  border: 0;
}

div.col-sm-6 {
  padding-right: 0;
}

img {
  max-height: none;
  padding: 0;
  max-width: 100%;
  border: none;
  border-style: none;
  border-width: 0px;
  box-shadow: none;
}

ul {
  position: static;
}

}