/* body {
  background-color: rgb(185, 185, 185);
}  */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(20%);
}

#brand {
  color: white;
  font-weight: bolder;
}
#link-text {
  color: white;
}

/* ###Footer### */
html body{
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}

body {
  /*Margin bottom by footer height*/
  margin-bottom: 60px;
}

span {
  font-weight: bolder;
  color: rgb(179, 0, 0);
}

h1 {
  color: white;
  font-weight: bolder;
}

p {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*Set the fixed height of the footer here*/
  height: 60px;

}
.main {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

#headShot {
  max-height: 600px;
  max-width: 100%;
  border-radius: 100%;
}

ul {
  position: absolute;
}

.container {
  text-align: center;
}

.linkedin {
  max-height: 20px;
  text-align: center;
}

.github {
  max-height: 25px;
  text-align: center;
}

@media screen and (max-width: 575px) {
 
.content .main {
  padding: 0;
  margin: 0;
  border: 0;
}

/* div {
  padding: 0px;
}

div.col-sm-5 {
  padding-right: 0;
  padding-left: 0;
}
*/

#headShot {
  max-height: 500px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  position: static;
}

}